services:
  backend:
    build: ./backend
    volumes:
      - data:/data
    ports:
      - "5001:5000"

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  data:
